<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a href="https://github.com/inamedam" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a  href="https://www.linkedin.com/in/inaoui-mohamed-amine/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
            <ul class="footer-right-bar d-none d-md-block">
                <li>
                    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=&su=&body=&bcc=&cc=&bcc=&ui=2&tf=1&pli=1" target='_blank'>
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a href="tel:+212632512185" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <!-- https://wa.me/212632512185 -->
                </li>
            </ul>
            

        </div>
    

    <div class="footer-credits text-center" >
        <a  href="https://github.com/inamedam" target="_blank" rel="nofollow noopener noreferrer">
            <div>Built with Angular</div>
        </a>
        <a  href="https://github.com/inamedam" target="_blank" rel="nofollow noopener noreferrer">
            <div class="mt-2">
                <img src='assets/images/me/logo.png' width='80' />
            </div>
        </a>
    </div>

</footer>